@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  ---bddark : #000000fb;
  ---labelbg : #181414fb;
  ---bdwhite : #fffffffb;
  ---tw : #fffffffb;
  ---tlogo : #fe0202d0;
  ---introtextofabubakar : #fe02aad0;
  ---borderofcodeblock : #fffffffb; 
  ---redcircleofcodeblock : #ff0000fb; 
  ---pinkcircleofcodeblock : #fe02aad0; 
  ---bluecircleofcodeblock : #3700fffb;
  

}

body{
  background-color: var(---bddark);
}
.borderColor{
  border-radius: 2rem;
  border-image: conic-gradient(#fe02aad0,#fe02aad0, #ff0000fb,#fe02aad0, #fe02aad0, #3700fffb, #fe02aad0, #fe02aad0) 2;
}
.bg1{
  background-image: url("../public/introbg.jpeg");
  
}
@keyframes scaleUpDown {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.04);
  }
}

.animated {
  display: inline-block;
  animation: scaleUpDown 3s infinite;
}
.neon-border {
  
  padding: 10px 20px;
  border: 2px solid #ff0000fb;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  transition: border-color 0.3s ease;
}

.neon-border:hover {
  animation: neonGlow 1s infinite alternate;
}

@keyframes neonGlow {
  0% {
      box-shadow: 0 0 5px #ff0000fb, 0 0 20px #ff0000fb, 0 0 30px #ff0000fb, 0 0 40px #ff0000fb, 0 0 50px #ff0000fb;
  }
  100% {
      box-shadow: 0 0 10px #ff0000fb, 0 0 20px #ff0000fb, 0 0 40px #ff0000fb, 0 0 80px #ff0000fb, 0 0 100px #ff0000fb;
  }
}
