@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  ---bddark : #000000fb;
  ---bdwhite : #fffffffb;
  ---tw : #fffffffb;
  ---tlogo : #fe0202d0;

}

body{
  background-color: var(---bddark);
}